.markdown-body * {
    margin: 0;
    padding: 0;
}

.markdown-body {
    --base-size-4: 0.25rem;
    --base-size-8: 0.5rem;
    --base-size-12: 0.75rem;
    --base-size-16: 1rem;
    --base-size-24: 1.5rem;
    --base-size-40: 2.5rem;
    --base-text-weight-normal: 400;
    --base-text-weight-medium: 500;
    --base-text-weight-semibold: 600;
    --fontStack-monospace: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
    --fgColor-accent: Highlight;
}

.markdown-body {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    color: #363636;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 16px;
    line-height: 1.5;
    margin: 0 0 1.5rem;
    width: calc(100%);
    max-width: 100%;
    scroll-behavior: auto !important;
    word-wrap: break-word;
}

/* 标题 h1/h2/h3/h4/h5/h6 */
.markdown-body h1 {
    margin: .67em 0;
    font-weight: var(--base-text-weight-semibold, 600);
    padding-bottom: .3em;
    font-size: 2em;
    border-bottom: 1px solid #d1d9e0b3;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
    margin-top: var(--base-size-24);
    margin-bottom: var(--base-size-16);
    font-weight: var(--base-text-weight-semibold, 600);
    line-height: 1.25;
}

.markdown-body h2 {
    font-weight: var(--base-text-weight-semibold, 600);
    padding-bottom: .3em;
    font-size: 1.5em;
    border-bottom: 1px solid #d1d9e0b3;
}

.markdown-body h3 {
    font-weight: var(--base-text-weight-semibold, 600);
    font-size: 1.25em;
}

.markdown-body h4 {
    font-weight: var(--base-text-weight-semibold, 600);
    font-size: 1em;
}

.markdown-body h5 {
    font-weight: var(--base-text-weight-semibold, 600);
    font-size: .875em;
}

.markdown-body h6 {
    font-weight: var(--base-text-weight-semibold, 600);
    font-size: .875em;
    color: #59636e;
}

/* 段落 p */
.markdown-body p {
    margin-top: 0;
    margin-bottom: var(--base-size-16);
}

/* 链接 a */
.markdown-body a {
    background-color: transparent;
    color: #0969da;
    text-decoration: none;
}

/* .markdown-body a:hover {
    text-decoration: underline;
} */

/* 加粗 b, strong */
.markdown-body b,
.markdown-body strong {
    font-weight: var(--base-text-weight-semibold, 600);
}

.markdown-body hr {
    height: 1px;
    margin: 1rem 0;
    background: #d1d9e0b3;
    border: none;
    display: block;
}

/* 列表 ul, ol, li */
.markdown-body ul,
.markdown-body ol {
    margin-top: 0;
    margin-bottom: 1em;
    padding-left: 2em;
}

.markdown-body ul ul,
.markdown-body ul ol,
.markdown-body ol ol,
.markdown-body ol ul {
    margin-top: var(--base-size-16);
    margin-bottom: 0;
}

.markdown-body li+li {
    margin-top: var(--base-size-12);
}

.markdown-body li>p {
    margin: var(--base-size-8) 0;
}

.markdown-body li:has(input[type="checkbox"]) {
    list-style: none;
    margin-left: -1rem;
}

.markdown-body ul.no-list,
.markdown-body ol.no-list {
    padding: 0;
    list-style-type: none;
}

.markdown-body ol ol,
.markdown-body ul ol {
    list-style-type: lower-roman;
}

.markdown-body ul ol,
.markdown-body ol ol,
.markdown-body ol ul ol,
.markdown-body ol ol ol {
    list-style-type: lower-alpha;
}

.markdown-body ol[type="a s"] { list-style-type: lower-alpha; }
.markdown-body ol[type="A s"] { list-style-type: upper-alpha; }
.markdown-body ol[type="i s"] { list-style-type: lower-roman; }
.markdown-body ol[type="I s"] { list-style-type: upper-roman; }
.markdown-body ol[type="1"] { list-style-type: decimal; }
.markdown-body div>ol:not([type]) {
    list-style-type: decimal;
}

/* 引用 blockquote */
.markdown-body blockquote {
    background-color: #f5f5f5;
    border-left: 5px solid #dbdbdb;
    padding: 1.25em 1.5em;
    margin-bottom: var(--base-size-16);
}

.markdown-body blockquote>:first-child { margin-top: 0; }
.markdown-body blockquote>:last-child { margin-bottom: 0; }

/* 表格 table */
.markdown-body table {
    border-spacing: 0;
    border-collapse: collapse;
    display: block;
    width: max-content;
    max-width: 100%;
    overflow: auto;
    white-space: nowrap;
    margin-bottom: 1rem;
}

.markdown-body table th {
    background-color: var(--bgColor-muted);
    background-color: #f6f8fa;
    font-weight: var(--base-text-weight-semibold, 600);
}

.markdown-body table th,
.markdown-body table td {
  padding: 6px 13px;
  border: 1px solid var(--borderColor-default);
  border: 1px solid #d1d9e0;
}

.markdown-body table td>:last-child {
    margin-bottom: 0;
}

.markdown-body table tr {
    background-color: var(--bgColor-default);
    background-color: #ffffff;
    border-top: 1px solid var(--borderColor-muted);
    border-top: 1px solid #d1d9e0b3;
}

.markdown-body table tr:nth-child(2n) {
    background-color: var(--bgColor-muted);
    background-color: #f6f8fa;
}

/* 代码 code, pre */
.markdown-body code,
.markdown-body pre {
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: auto;
    font-family: 'Source Code Pro', monospace, 'Microsoft YaHei';
    font-size: 0.85em;
    font-weight: normal;
}

.markdown-body code {
    background: transparent;
    color: #f14668;
    overflow-wrap: break-word;
    padding: 0;
}
figure.highlight {
    background-color: #fafafa;
    border-radius: 4px;
    margin-bottom: 1rem;
    overflow: hidden;
}

figure.highlight figcaption {
    min-height: 1.5rem;
    background-color: #f3f3f3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

figure.highlight figcaption ion-icon {
    font-size: 1rem;
    margin: 0 0.5rem;
}

figure.highlight .gutter {
    text-align: center;
    background-color: #f3f3f3;
}

figure.highlight table {
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    margin-bottom: 0;
    max-width: 100%;
    overflow: auto;
    white-space: nowrap;
    width: max-content;
}

figure.highlight table td,
figure.highlight table th,
figure.highlight table tr {
  background-color: #fafafa;
  border: none;
  padding: 6px 13px;
}

/* 公式 math */
.markdown-body math {
    font-size: 1rem;
    margin-bottom: 1rem;
    overflow: hidden;
    overflow-x: visible;
}

.markdown-body mtable {
    min-width: 100px;
    margin: 10px 0;
}

.markdown-body mtd:first-child {
    text-align: right;
    padding-right: 5px;
}

.markdown-body mtd:nth-child(2) {
    text-align: left;
    padding-left: 5px;
    padding-bottom: 12px;
}

.markdown-body mfrac {
    padding-right: 5px;
}

/* 优化 */
.markdown-body>*:first-child {
    margin-top: 0 !important;
}

.markdown-body>*:last-child {
    margin-bottom: 0 !important;
}
