[mysqld]

port=3306 # 端口Port
basedir=/usr/local/mysql # 基本目录
datadir=/usr/local/mysql/data # 数据库目录
socket=/tmp/mysql.sock
log-error=/usr/local/mysql/data/mysql.err # 日志文件位置
pid-file=/usr/local/mysql/data/mysqld.pid # PID文件位置
# character-set-server=utf8 # 服务器字符编码

[mysql]

# auto-rehash # 命令补全


#-----------------------------------------------------------------------------------------
# Windows目录格式: "C:\\Program Files\\MySQL\\data"
#-----------------------------------------------------------------------------------------